.wrapper {
	height: 100%;
	overflow-x: auto;
}

.table {
	width: 100%;
	table-layout: fixed;
	direction: rtl;

	&.reverseColors {
		--tb-header-bg: theme("colors.white");
		--tb-row-bg: theme("colors.light.gray.100");
		--tb-row-odd-bg: theme("colors.white");
	}

	&:not(.reverseColors) {
		--tb-header-bg: theme("colors.light.gray.100");
		--tb-row-bg: theme("colors.white");
		--tb-row-odd-bg: theme("colors.light.gray.100");
	}
}

.thead,
.tbody {
	.tr {
		height: 4rem;

		.th,
		.td {
			border-collapse: collapse;
			padding: 0 8px;
			overflow: hidden;
			white-space: nowrap;
			vertical-align: middle;
			text-align: center;
		}
	}
}

.thead {
	background-color: var(--tb-header-bg);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9;

	.tr > .th {
		background-color: var(--tb-header-bg);
		font-size: 1.4rem;
		font-weight: 500;
		user-select: none;
		color: theme("colors.light.gray.700");

		&.selectable {
			cursor: pointer;
		}

		.cell {
			position: relative;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			display: flex;
		}
	}
}

.tbody {
	.tr {
		background-color: var(--tb-row-bg);
		&:nth-child(2n) {
			background-color: var(--tb-row-odd-bg);
		}

		& > .td {
			font-size: 1.2rem;
		}
	}
}

.icon {
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(93, 96, 109);
}
