.wrapper {
	height: 100%;
	overflow-x: auto;
}

.table {
	width: 100%;
	direction: rtl;
}

.tr {
	width: 100%;

	.th,
	.td {
		padding: 0 4px;
		border-collapse: collapse;
		overflow: hidden;
		white-space: nowrap;
		vertical-align: middle;

		&:not(.right) {
			text-align: center;
		}

		.right {
			text-align: right;
		}
	}
}

.thead {
	background-color: theme("colors.white");
	position: sticky;
	top: 0;
	left: 0;
	z-index: 99;

	.tr {
		height: 4rem;

		.th {
			font-weight: 400;
			font-size: 1.2rem;
			color: theme("colors.gray.700");
			background-color: theme("colors.white");
		}
	}
}

.tbody {
	height: calc(100% - 4rem);
	overflow-y: scroll;

	.tr {
		height: 6.4rem;

		& > .td {
			font-weight: 500;
			font-size: 1.4rem;
		}
	}
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 0.4rem;
}
