.root {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9999;

	&:not(.transparent) {
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(5px);
	}
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	top: 14%;
	left: 50%;
	max-width: 95%;
	max-height: 95%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

	&.lg {
		width: 114rem;
	}

	&.md {
		width: 80rem;
	}

	&.sm {
		width: 50rem;
	}

	&.xs {
		width: 40rem;
	}

	&.xxs {
		width: 30rem;
	}
}
