.pp {
	position: relative;
	width: 1.6rem;
	height: 1.6rem;
	box-sizing: border-box;
	border-style: solid;
	background-color: transparent;
	border-width: 8.5px 0 8.5px 14px;
	margin-left: 2px;
	border-color: transparent transparent transparent currentColor;
	transition: 250ms all;
	-webkit-transition: 250ms all;
	-moz-transition: 250ms all;
	cursor: pointer;

	&.paused {
		border-style: double;
		border-width: 0px 0 0px 14px;
	}
}
