.datepicker {
	--rg-dp-border-color: theme("colors.gray.400");
	--rg-dp-active-color: theme("colors.gray.700");
	--rg-dp-active-border-color: theme("colors.info.100");
	--rg-dp-icon-color: theme("colors.gray.500");
	--rg-dp-to-color: theme("colors.gray.700");
	--rg-db-disabled-color: theme("colors.gray.200");
	--rg-dp-height: 4.8rem;

	border-radius: theme("borderRadius.DEFAULT");
	border: 1px solid;
	border-color: var(--rg-dp-border-color);
	width: 100%;
	max-width: 100%;
	border-color: transparent;

	&.nonBorder {
		border-color: transparent;
		box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.03) !important;
	}
}

.container {
	padding: 0 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: var(--rg-dp-height);
	border-radius: theme("borderRadius.DEFAULT");
}

.icon {
	flex: 0;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--rg-dp-to-color);
}

.input {
	direction: ltr;
	height: var(--rg-dp-height);
	background-color: transparent;
	padding: 0;
	text-align: left;
	width: 2.4rem;
	max-width: 100%;
	flex: 1;
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;

	&::placeholder {
		letter-spacing: 1px;
		text-align: left;
	}

	&.fromDate {
		text-align: center;
	}

	&.toDate {
		text-align: center;
	}

	&.active {
		color: var(--rg-dp-active-color);
	}
}

.dialogBox {
	--rg-db-width: 28.4rem;
	--rg-db-week-color: theme("colors.gray.700");
	--rg-db-arrow-color: theme("colors.gray.700");
	--rg-db-date-color: theme("colors.primary.100");
	--rg-db-day-default-color: transparent;
	--rg-db-active-background-color: theme("colors.gray.50");
	--rg-db-end-start-background-color: theme("colors.primary.100");
	--rg-db-holiday-color: theme("colors.error.100");
	--rg-db-disabled-color: theme("colors.gray.200");
	--rg-db-shadow: 0px 0px 8px rgba(147, 156, 173, 0.25);
	--rg-dp-font-family: "IRANSans";

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	min-width: var(--rg-db-width);
	max-width: var(--rg-db-width);
	background-color: var(--rg-db-background-color);
	box-shadow: var(--rg-db-shadow);
	-webkit-box-shadow: var(--rg-db-shadow);
	border-radius: 4px;
	padding: 1.6rem;
	gap: 1.6rem;
	z-index: 99999;
}

.switch,
.weekDays {
	flex: 0;
	width: 100%;
}

.switch {
	display: flex;
	justify-content: space-between;
}

.weekDays {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--rg-db-week-color);

	li {
		text-align: center;
		width: 3.6rem;
	}
}

ul.days {
	display: flex;
	flex-direction: column;
	width: 100%;

	ul {
		direction: rtl;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

.day {
	width: 3.6rem;
	height: 3.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--rg-dp-font-family);
	background-color: var(--rg-db-day-default-color);

	&.between {
		background-color: var(--rg-db-active-background-color);
	}

	&.active {
		border-radius: 50%;
		color: theme("colors.white");
		background-color: var(--rg-db-end-start-background-color);
	}

	&.holiday {
		color: var(--rg-db-holiday-color);
	}

	&.disabled {
		color: var(--rg-db-disabled-color);
	}
}

.arrows {
	display: flex;
	gap: 8px;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.6rem;
		height: 1.6rem;
		color: var(--rg-db-arrow-color);
	}
}

.date {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	color: var(--rg-db-date-color);
	font-size: 1.4rem;
	font-weight: 400;

	span,
	button {
		color: inherit;
	}
}

.selection {
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--rg-db-background-color);

	.back {
		height: 24px;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 12px 16px 16px;

		button {
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	ul.list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		li {
			.option {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 8.4rem;
				height: 6.4rem;
				transition: color 250ms;
				-webkit-transition: color 250ms;
				-moz-transition: color 250ms;

				&.active,
				&:hover {
					font-weight: 400;
					color: var(--rg-db-date-color);
				}
			}
		}
	}
}

.today {
	font-weight: 500;
	font-size: 1.2rem;
	text-align: left;
	color: var(--rg-db-date-color);

	button {
		font-size: inherit;
		color: inherit;
	}
}
