.toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	& > li {
		position: relative;
		padding: 0 8px;
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			height: 2.4rem;
			color: theme("colors.light.gray.700");
			height: 2.4rem;

			&:not(:disabled) {
				cursor: pointer;
			}

			&:disabled {
				color: theme("colors.light.gray.500");
			}
		}

		&:not(:first-child)::after {
			content: "";
			position: absolute;
			height: 1.6rem;
			width: 1px;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			background-color: theme("colors.light.gray.200");
		}
	}
}

.badge {
	position: absolute;
	min-width: 2rem;
	height: 2rem;
	bottom: calc(100% - 0.6rem);
	right: 0.6rem;
	padding: 0 4px;
	border-radius: 1rem;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid theme("colors.white");
	background-color: theme("colors.light.primary.100");
	color: theme("colors.white");
}
