.root {
	position: relative;
	border: 1px solid theme("colors.light.gray.200");
	border-radius: 8px;
	height: 4rem;
	overflow: hidden;
}

.tabs {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 100%;

	& > * {
		user-select: none;
		cursor: pointer;
		white-space: nowrap;
	}
}

.rect {
	position: absolute;
	height: calc(100% + 2px);
	width: 14.4rem;
	top: 50%;
	pointer-events: none;
	right: 0;
	border-radius: 8px;
	transform: translate(0, -50%);
	transition:
		width 200ms linear,
		background-color 200ms linear,
		transform 200ms linear;
	-webkit-transition:
		width 200ms linear,
		transform 200ms linear;
	-moz-transition:
		width 200ms linear,
		transform 200ms linear;
	-o-transition:
		width 200ms linear,
		transform 200ms linear;
}
