.root,
.input {
	width: 100%;
	max-width: 100%;
}

.root {
	border: 1px solid theme("colors.gray.400");
	border-radius: 8px;
	height: 4rem;
	flex: 1;
	display: flex;
	align-items: center;
}

.search {
	padding: 0 0.8rem;

	svg {
		color: theme("colors.gray.300");
		width: 2rem;
		height: 2rem;
	}
}

.input {
	text-align: right;
	font-size: 1.4rem;
	background-color: transparent;
	border: none;
	padding: 0 0 0 0.8rem;

	&::placeholder {
		color: theme("colors.gray.300");
	}
}

.list {
	display: flex;
	flex-direction: column;
}

.item {
}
