.root {
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 5.2rem;
	max-height: 5.2rem;
	position: relative;
}

.tradedValues {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.8rem;
	transition: transform 250ms;
	-webkit-transition: transform 250ms;
	-webkit-transition: transform 250ms;

	.inner {
		position: relative;
		width: 100%;

		.value {
			top: 0;
			left: 0;
			position: absolute;
			display: flex;
			cursor: pointer;
			flex-direction: column;
			align-items: center;
			color: theme("colors.light.gray.700");
		}
	}
}

.border {
	position: absolute;
	width: 100%;
	height: 0.4rem;
	cursor: pointer;
	border-radius: 1px;
	background-color: theme("colors.light.gray.200");
}

.container {
	pointer-events: none;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 0.1rem;
	height: 0.4rem;

	.div {
		top: -0.2rem;
		position: absolute;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		z-index: 9;

		.rhombus {
			width: 0.8rem;
			height: 0.8rem;
			border-radius: 0.2rem;
			border: 2px solid;
			transform: rotateZ(45deg);
			-webkit-transform: rotateZ(45deg);
			-moz-transform: rotateZ(45deg);
		}

		.line {
			width: 0.2rem;
			height: 0.6rem;
			top: 1rem;
			background-color: theme("colors.light.gray.200");
		}

		.number {
			font-size: 1rem;
			color: theme("colors.light.gray.700");
		}

		&:not(:nth-child(4)) {
			.rhombus {
				background-color: theme("colors.light.gray.100");
				border-color: theme("colors.light.gray.200");
			}
		}

		&:nth-child(4) {
			.rhombus {
				background-color: theme("colors.light.gray.200");
				border-color: theme("colors.light.gray.100");
			}
		}

		&:nth-child(-n + 3).active {
			.rhombus {
				background-color: theme("colors.light.error.100");
			}
		}

		&:nth-last-child(-n + 3).active {
			.rhombus {
				background-color: theme("colors.light.success.100");
			}
		}

		.inner {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 0.4rem;
		}
	}
}

.sliders {
	position: absolute;
	left: -0.4rem;
	top: calc(50% - 0.6rem);
	direction: ltr;
	width: calc(100% + 0.8rem);
	overflow: hidden;
	height: 1.2rem;
	pointer-events: none;

	.sliderInner {
		position: relative;
		display: flex;
		align-items: center;

		.section {
			position: relative;
			display: flex;
			flex: 1;

			&.buy {
				justify-content: flex-start;
				color: theme("colors.light.success.100");

				.slider {
					left: 0.4rem;
				}

				.mark::after {
					left: -0.4rem;
				}
			}

			&.sell {
				justify-content: flex-end;
				color: theme("colors.light.error.100");

				.slider {
					right: 0.4rem;
				}

				.mark::after {
					right: -0.4rem;
				}
			}

			.slider {
				background-color: currentColor;
				height: 0.4rem;
				top: 0.4rem;
				position: absolute;
			}

			.mark {
				z-index: 99;
				top: 0.2rem;
				position: absolute;
				pointer-events: fill;
				cursor: pointer;

				&.buy {
					color: theme("colors.light.success.100");
				}

				&.sell {
					color: theme("colors.light.error.100");
				}

				&::after {
					content: "";
					position: absolute;
					width: 0.8rem;
					height: 0.8rem;
					border-radius: 0.2rem;
					background-color: currentColor;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
				}
			}
		}
	}
}
