@keyframes spinner-border {
	to {
		transform: rotate(360deg);
	}
}

@keyframes left-to-right {
	from {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}
}

@keyframes right-to-left {
	from {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0;
	}
}

@keyframes outline {
	0% {
		outline-width: 6px;
	}
	50% {
		outline-width: 3px;
	}
	100% {
		outline-width: 6px;
	}
}
