.spinner {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid theme("colors.primary.200");
	border-right-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	animation: 750ms linear infinite spinner-border;
}

.input-group {
	transition: border-color 250ms ease-in-out;
	-webkit-transition: border-color 250ms ease-in-out;
	-moz-transition: border-color 250ms ease-in-out;

	&:focus-within,
	input:focus,
	textarea:focus {
		border-color: theme("colors.primary.300");
	}

	&:not(:focus-within):hover {
		border-color: theme("colors.gray.700");
	}
}
