.common-tooltip-container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
	color: theme("colors.white");
	background-color: rgba(15, 21, 39, 1);
	padding: 4px 8px;
	text-align: right;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	max-width: 196px;
	transition:
		opacity 150ms ease-in,
		transform 150ms ease-in-out;
	-webkit-transition:
		opacity 150ms ease-in,
		transform 150ms ease-in-out;

	&:not(.common-tooltip-interactive) {
		pointer-events: none;
	}

	&:not(.common-tooltip-animation) {
		transition: opacity 150ms ease-in;
		-webkit-transition: opacity 150ms ease-in;
	}

	&.common-tooltip-animation {
		transition:
			opacity 150ms ease-in,
			transform 150ms ease-in-out;
		-webkit-transition:
			opacity 150ms ease-in,
			transform 150ms ease-in-out;
	}
}

.common-tooltip-hidden {
	pointer-events: none;
	opacity: 0;
}

.i-checked {
	background-image: url("data:image/svg+xml,<svg width='12' height='10' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.66675 4.03968L3.88897 6.26191L8.33341 1.5' stroke='rgb(255,255,255)'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/></svg>");
}

.apexcharts-canvas {
	direction: ltr;
}

.skeleton {
	background-color: var(--skeleton-bg);
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		var(--skeleton-bg);
	background-position-x: 120%;
	background-size: 200% 100%;
	animation: 1000ms skeleton-loading ease-in-out infinite;
}

.react-grid-item:not(.react-draggable-dragging) {
	transition:
		height 200ms ease-in,
		top 200ms ease-in,
		left 200ms ease-in,
		transform 200ms ease-in;
	-webkit-transition:
		height 200ms ease-in,
		top 200ms ease-in,
		left 200ms ease-in,
		transform 200ms ease-in;
}

.apex-tooltip,
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
	background-color: rgb(64, 64, 83) !important;
	border-color: rgb(64, 64, 83) !important;
	border-radius: 8px !important;
	color: rgb(235, 235, 235) !important;
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
	.apexcharts-xaxistooltip-text {
		font-family: "IRANSans" !important;
	}
}

.apexcharts-xaxistooltip-bottom {
	&::before,
	&::after {
		border-bottom-color: rgb(64, 64, 83) !important;
	}
}

.apex-tooltip {
	padding: 4px 8px;

	.apexcharts-tooltip-series-group {
		padding: 0 !important;
	}

	.apexcharts-tooltip-marker {
		display: none;
	}

	.apexcharts-tooltip-text-y-value {
		margin-left: 0;
	}
}

.apexcharts-tooltip-series-group.apexcharts-active,
.apexcharts-tooltip-series-group:last-child {
	padding-bottom: 0 !important;
}
