:root {
	--scrollbar-size: 8px;
	--scrollbar-thumb: rgb(217, 217, 217);
	--scrollbar-track: rgb(255, 255, 255);
}

::selection {
	background-color: theme("colors.secondary.200");
	color: theme("colors.gray.900") !important;
}

::-moz-selection {
	background-color: theme("colors.secondary.200");
	color: theme("colors.gray.900") !important;
}

html {
	font-size: 62.5%; // 16px => 10px
}

body {
	font-family: "IRANSans";
	font-size: 1.4rem;
	min-height: 100dvh;
	max-height: 100dvh;
	width: 100dvw;
	max-width: 100dvw;
	font-weight: 400;
	overflow: hidden;
	background-color: theme("colors.gray.300");

	&.ew-resize {
		cursor: ew-resize;
		user-select: none;
	}

	&.ns-resize {
		cursor: ns-resize;
		user-select: none;
	}

	&::-moz-scrollbar-thumb {
		background: var(--scrollbar-thumb);
		border-radius: 3px;
	}

	/* Scrollbar track */
	&::-moz-scrollbar-track {
		background: var(--scrollbar-track);
	}
}

button,
a,
input,
textarea {
	font-family: "IRANSans";
	outline: none;
}

input,
textarea {
	font-weight: 400;
	color: theme("colors.gray.1000");
	caret-color: theme("colors.gray.900");
	transition: border-color 250ms ease-in-out;
	-webkit-transition: border-color 250ms ease-in-out;
	-moz-transition: border-color 250ms ease-in-out;

	&::placeholder {
		font-weight: 300;
		color: theme("colors.gray.700");
	}

	&:focus {
		border-color: theme("colors.primary.300");
	}
}

img {
	pointer-events: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 3px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background: var(--scrollbar-track);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	transition: background-color 5000s ease-in-out 0s;
}
