html {
	--scrollbar-size: 8px;
	--scrollbar-thumb: rgb(226, 231, 237);
	--scrollbar-track: rgb(248, 250, 253);
	--skeleton-from-bg: rgb(243, 245, 247);
	--skeleton-to-bg: rgb(224, 230, 235);
	--skeleton-bg: rgb(226, 231, 237);
}

html[data-theme="dark"] {
	--scrollbar-thumb: rgb(55, 57, 69);
	--scrollbar-track: rgb(28, 30, 38);
	--skeleton-from-bg: rgb(55, 57, 69);
	--skeleton-to-bg: rgb(55, 57, 69);
	--skeleton-bg: rgb(55, 57, 69);
}

html[data-theme="darkBlue"] {
	--scrollbar-thumb: rgb(34, 44, 63);
	--scrollbar-track: rgb(21, 29, 43);
	--skeleton-from-bg: rgb(55, 57, 69);
	--skeleton-to-bg: rgb(55, 57, 69);
	--skeleton-bg: rgb(55, 57, 69);
}

html[data-theme="dark"],
html[data-theme="darkBlue"] {
	button,
	a,
	input,
	textarea {
		color-scheme: dark;
	}
}

::selection {
	background-color: theme("colors.secondary.200");
	color: theme("colors.gray.800") !important;
}

::-moz-selection {
	background-color: theme("colors.secondary.200");
	color: theme("colors.gray.800") !important;
}

html {
	font-size: 62.5%; // 16px => 10px
}

body {
	font-family: "IRANSans";
	font-size: 1.4rem;
	min-height: 100dvh;
	max-height: 100dvh;
	width: 100dvw;
	max-width: 100dvw;
	font-weight: 400;
	overflow: hidden;
	color: theme("colors.gray.700");
	background-color: theme("colors.gray.300");

	&.ew-resize {
		cursor: ew-resize;
		user-select: none;
	}

	&.ns-resize {
		cursor: ns-resize;
		user-select: none;
	}

	&::-moz-scrollbar-thumb {
		background: var(--scrollbar-thumb);
		border-radius: 3px;
	}

	/* Scrollbar track */
	&::-moz-scrollbar-track {
		background: var(--scrollbar-track);
	}
}

button:disabled {
	opacity: 0.5;
}

button,
a,
ul,
input,
div,
textarea {
	font-family: "IRANSans";
	outline: none !important;
}

input,
textarea {
	background-color: transparent;
	font-weight: 400;
	color: theme("colors.gray.800");
	caret-color: theme("colors.gray.700");
	transition: border-color 250ms ease-in-out;
	-webkit-transition: border-color 250ms ease-in-out;
	-moz-transition: border-color 250ms ease-in-out;

	&::placeholder {
		font-weight: 300;
		color: theme("colors.gray.500");
	}

	&:focus {
		border-color: theme("colors.primary.100");
	}
}

img {
	pointer-events: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 3px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background: var(--scrollbar-track);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	transition: background-color 5000s ease-in-out 0s;
}
