:root {
	--scrollbar-size: 12px;
	--scrollbar-thumb: rgb(217, 217, 217);
	--scrollbar-track: rgb(255, 255, 255);
}

html {
	font-size: 62.5%; // 16px => 10px
}

body {
	font-family: "IRANSans";
	font-size: 1.4rem;
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: theme("colors.white");

	&.ew-resize {
		cursor: ew-resize;
		user-select: none;
	}

	&.ns-resize {
		cursor: ns-resize;
		user-select: none;
	}

	&::-moz-scrollbar-thumb {
		background: var(--scrollbar-thumb);
		border-radius: 3px;
	}

	/* Scrollbar track */
	&::-moz-scrollbar-track {
		background: var(--scrollbar-track);
	}
}

button,
a,
input,
textarea {
	font-family: "IRANSans";
	outline: none;
}

input,
textarea {
	color: theme("colors.gray.100");
	transition: border-color 250ms;
	-webkit-transition: border-color 250ms;
	-moz-transition: border-color 250ms;

	&::placeholder {
		color: theme("colors.gray.300");
	}

	&:focus {
		border-color: theme("colors.primary.300") !important;
	}
}

.input-group {
	transition: border-color 250ms;
	-webkit-transition: border-color 250ms;
	-moz-transition: border-color 250ms;

	&:focus-within,
	input:focus,
	textarea:focus {
		border-color: theme("colors.primary.300") !important;
	}
}

::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 3px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background: var(--scrollbar-track);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	transition: background-color 5000s ease-in-out 0s;
}
