@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.rtl {
		direction: rtl;
	}

	.ltr {
		direction: ltr;
	}

	.flex-justify-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.flex-justify-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.flex-items-center {
		display: flex;
		align-items: center;
	}

	.btn-primary {
		display: flex;
		align-items: center;
		justify-content: center;
		color: theme("colors.white");
		background-color: theme("colors.primary.300");
		transition: background-color 300ms ease-in-out;

		&:hover {
			background-color: theme("colors.primary.200");
		}
	}
}
