@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.flex-justify-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.flex-justify-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.flex-items-center {
		display: flex;
		align-items: center;
	}

	.arrow-down:before {
		border: 4px solid #0000;
		border-top-color: #868993;
		content: "";
		margin-top: -4px;
		position: absolute;
		left: 8px;
		top: 55%;
	}
}
