.root {
	display: block;
	position: relative;
}

.label {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.8rem;
}

.text {
	color: theme("colors.light.gray.700");
	font-size: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.checkbox {
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	width: 1.6rem;
	height: 1.6rem;
	border: 1px solid;
	border-color: theme("colors.light.gray.200");
	border-radius: 5px;
	background-color: transparent;

	&.checked {
		border-color: theme("colors.light.primary.100");
		background-color: theme("colors.light.primary.100");
		background-position: center;
		background-repeat: no-repeat;
	}

	&.disabled {
		cursor: default;
		border-color: theme("colors.light.gray.600");
		opacity: 0.6;

		&.checked {
			background-color: theme("colors.light.gray.600");
		}
	}
}
